{% load static %}



<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon Zoo{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'zoo_list' %}">🐾 Mon Zoo Virtuel</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'zoo_create' %}">Ajouter un Zoo</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 - Projet Zoo Django 🐘🦓🦒</p>
    </footer>
</body>
</html>




